<table *ngIf="!loading" class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Amount</th>
    <th scope="col">Options</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let portfolioline of portfoliolines">
    <th scope="row">{{portfolioline.id}}</th>
    <td>{{portfolioline.amount}}</td>
    <td>
      <button type="button" routerLink="/portfolioLine/{{portfolioline.id}}" class="btn btn-primary">Edit</button>
      <button type="button" class="btn btn-danger" (click)="deletePortfolioLine(portfolioline.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
